@CHARSET "UTF-8";
html,body{height:100%;position:relative;background:url(images/bg.png) repeat scroll 0 0 transparent}
body{font-family:"Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;color:#fff;font-size:18px;overflow:hidden}
a{text-decoration:none;color:#fff;transition:all ease .3s}
a{background-size:210% 100%;background-position:97% 0;background-image:linear-gradient(90deg, #0000fe 0%, #0000fe 50%, transparent 50%, transparent 100%) !important}
a:hover{background-position:0 0}
h1,h2{font-weight:normal}
@media(max-width:1300px){
    body{font-size:14px}
}

/* 定制chrome滚动条 */
::-webkit-scrollbar{width:8px;height:8px}
::-webkit-scrollbar-thumb{border-radius:10px;background:rgba(99,99,99,0.5)}
::-webkit-scrollbar-thumb:window-inactive{background:rgba(99,99,99,0.4)}
::-webkit-scrollbar-thumb:vertical:hover{background-color:rgba(99,99,99,0.6)}
::-webkit-scrollbar-thumb:vertical:active{background-color:rgba(99,99,99,1)}

.wrap{height:100%}
.logo-container{position:absolute;top:3em;left:5.5em;z-index:100;padding:4px 0}
@media(max-width:1300px){
    .logo-container img{width:12em}
}

.bg-blue{background-color:#0000fe}

.top-nav{position:absolute;top:2.4em;right:6.6em;z-index:100;font-size:1.2em;padding:4px 0;overflow:hidden}
.top-nav ul li:first-child{margin-right:1em}
.top-nav ul li:first-child:after{content:"|";padding-left:3em}
.top-nav ul li{display:inline-block;padding-left:2em}
.top-nav ul li a{display:inline-block}
.top-nav ul li a.active{border-bottom:1px solid #fff;padding-bottom:3px}

.social-container{position:absolute;bottom:3em;left:5.5em;z-index:100;padding:4px 0;overflow:hidden}
.social-container .cut-off{padding:0 1.4em}

.language-container{position:absolute;bottom:3em;right:6.6em;z-index:100;padding:4px 0;overflow:hidden}
.language-container .cut-off{padding:0 1em}

.right-bg{position:absolute;top:0;bottom:0;right:0;left:40%;background:url(images/right-bg-1.png) no-repeat scroll 0 0 transparent;background-size:cover}
.left-bg{position:absolute;top:0;bottom:0;left:0;right:33%;background:url(images/left-bg-1.png) no-repeat scroll 0 0 transparent;background-size:cover}
.right-bg.service{background-image:url(images/right-bg-2.png)}
.right-bg.contact{background-image:url(images/right-bg-3.png)}
.left-color-bg{width:2.8em;position:absolute;left:0;top:43%;bottom:11.11%}
.center-color-bg{width:9.8%;position:absolute;left:32.8%;right:57%;top:25%;bottom:29.4%}

/*首页*/
.index-title{position:absolute;top:33%;left:5.5em;z-index:200;overflow:hidden}
.index-title h1{font-size:4em;position:relative;display:inline-block}
.index-title h1:after{content:"";position:absolute;left:0;right:0;bottom:-6px;height:.3em;background-color:#0000fe;z-index:-1}
.index-title h2{font-size:1.4em;margin-top:2.6em;}

/*我们*/
.about-title{position:absolute;top:24%;left:5.5em;z-index:200;overflow:hidden}
.about-title h1{font-size:4em;position:relative;line-height:1.2;display:inline-block}
.about-title h1:after{content:"";position:absolute;left:0;right:0;bottom:-6px;height:.3em;background-color:#0000fe;z-index:-1}
.about-title h2{font-size:1.2em;margin-top:2.4em;;line-height:1.8}

/*联系*/
.contact-title{position:absolute;top:24%;left:5.5em;z-index:200;overflow:hidden}
.contact-title h1{font-size:3.2em;position:relative;line-height:1.2;display:inline-block}
.contact-title h1:after{content:"";position:absolute;left:0;right:0;bottom:-6px;height:.3em;background-color:#0000fe;z-index:-1}
.contact-title .contact-info{margin-top:5em}
.contact-title .contact-info p{line-height:2.4;font-size:1.2em}

/*服务*/
.services{position:absolute;top:24%;left:5.5em;right:50%;z-index:200;overflow:hidden}
.services .item{width:49.5%;display:inline-block;margin-bottom:5em;vertical-align:top}
.services .item img{width:3.6em;float:left}
.services .item .content{margin-left:5em}
.services .item .content h2{font-size:2em;margin-bottom:.8em;margin-top:.4em;overflow:hidden}
.services .item .content ul li.is-hidden{transform:translate(-20px);opacity:0}
.services .item .content ul li{font-size:.8em;margin-bottom:.6em}
.services .item .content ul li{left:0;zoom:1;opacity:1;transition:all 800ms ease-in-out}
.services .item .content ul li + li{transition-delay:150ms}
.services .item .content ul li + li + li{transition-delay:300ms}
.services .item .content ul li + li + li + li{transition-delay:450ms}
.services .item .content ul li + li + li + li + li{transition-delay:600ms}
.services .item .content ul li + li + li + li + li + li{transition-delay:750ms}
.services .item .content ul li + li + li + li + li + li + li{transition-delay:900ms}
.services .item .content ul li + li + li + li + li + li + li + li{transition-delay:1050ms}

/*博客*/
.blog-title{position:absolute;top:19%;left:5.5em;z-index:200;overflow:hidden}
.blog-title h1{font-size:3.2em}
.blog-title h2{font-size:1.4em;margin-top:1.4em;text-align:right;line-height:1.4}

.blog-posts{position:absolute;left:42.6%;right:0;top:13.89%;bottom:11.18%;z-index:300}
.blog-posts article{height:75vh;width:49vh;margin-left:2%;position:relative;display:inline-block}
.blog-posts article:first-child{margin-left:0}
.blog-posts .post-thumbnail{height:100%;width:100%}
.blog-posts .post-time{position:absolute;top:0;right:6vh;padding:2.2em 1em .8em}
.blog-posts .post-time .date{font-size:.9em}
.blog-posts .post-meta{position:absolute;bottom:0;left:0;right:0}
.blog-posts .post-mask{position:absolute;top:0;bottom:0;left:0;right:0;background-color:#000;opacity:.3}
.blog-posts .post-title{font-size:2rem;margin:2rem 1.8rem;position:relative;z-index:10;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.blog-posts .post-abstract{margin:2rem 1.8rem;position:relative;z-index:10;line-height:1.4}

/*案例*/
.case-bg{position:absolute;top:11.11%;right:0;bottom:11.11%;left:40%;background-size:cover;background-position:center center;z-index:1;cursor:pointer}
.case-title{position:absolute;top:19%;left:29%;z-index:200}
.case-title h1{font-size:4.5rem}
.case-title h2{font-size:2rem;text-align:right;margin-top:2rem}

.case-item-bg{position:fixed;top:0;right:0;bottom:0;left:0;background-color:#000;opacity:.8;z-index:1000}
.case-item-container{width:68%;margin:0 auto;position:relative;z-index:1100;height:100%}
.case-item{overflow-y:scroll;height:100%}
.case-item-title{height:10rem;position:relative}
.case-item-title h1{font-size:2.25rem;position:absolute;top:50%;margin-top:-1.125rem;padding:0 1.7rem}
.case-item-content img{display:block;margin:0 auto}
.case-item-description{padding:1.5rem 1.7rem}
.case-item-description p{line-height:1.6}